@import '~styles';

.eyeCatcher {
  height: 100px;
  width: 2px;
  background: transparent;
  display: inline-block;
  position: relative;
  overflow: hidden;

  .bar {
    width: 2px;
    height: 40px;
    background: $white;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    // @include transition(top linear 1s);

    top: 0%;
    @keyframes eyecatcherBottom {
      0% {
        top: - 35%;
      }

      100% {
        top: 105%;
      }
    }
    animation: eyecatcherBottom 1s infinite;

  }
}
