@import '~styles/layout';

.multipleParagraphes {
  p + p {
    padding-top: 2rem;
  }
}

.ux {
  background-color: black;
  position: relative;
  z-index: 20;
}

.uxDesigner {
  position: relative;
  z-index: 20;
  overflow: hidden;

  .list {
    list-style-type: square;
  }

  .background {
    position: absolute;
    top: -10px;
    right: 0;
    left: 0;
    bottom: -10px;
    background: url('~assets/mockups-big.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: 10;
  }

  .left {
    position: relative;
    z-index: 20;
  }

  @include breakpoint(md) {
    justify-content: flex-start;
    padding-left: 10vw;
    text-align: left;

    h2 {
      text-align: left;
    }
    .left {
      text-align: left;
    }
  }
}
