@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

@mixin font {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  font-weight: 300;
}
