/*
@import '~styles/layout';

.Header {
  // @include breakpoint(sm) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // }

  z-index: 100;

  &:after {
    content: ' ';
    display: block;
    height: 2 * $marginVertical;

    // background-image: linear-gradient(black, transparent);

    @include breakpoint(xs) {
      height: $marginVertical;
    }
  }
}

.home {
  font-size: 1.3rem;
}

.layout {
  padding: $marginVertical $marginHorizontal 0 $marginHorizontal;

  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(xs) {
    flex-direction: column;
  }
}

.name {
  text-decoration: none;
  font-weight: normal;

  font-size: 1.55rem;

  text-align: left;
  flex: 1 1 auto;

  @include breakpoint(xs) {
    text-align: center;
  }
}

.socialList {
  font-size: 0;
  display: flex;
  align-items: flex-end;
}

.social {
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  color: $foreground;
  cursor: pointer;
  text-transform: capitalize;
  padding-bottom: 3px;

  position: relative;

  // border-bottom: 2px solid transparent;

  &::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    transition: 0.3s ease-in-out width;
    background: $foreground;
  }

  &:hover,
  &.active {
    &::after {
      width: 100%;
    }
  }

  // &.active::after {
  //   width: 100%;
  // }

  transition: 0.4s linear border-color;

  & + & {
    margin-left: 1.5rem;
  }

  // &:hover,
  // &.active {
  //   border-bottom: 2px solid $foreground;
  //   // text-decoration: underline;
  // }
}

.socialIcon {
  font-size: 1.3rem;
}
*/
