@keyframes appear {
  0% {
    margin-bottom: -70px;
    opacity: 0%;
  }
  50% {
    margin-bottom: -20px;
    opacity: 20%;
  }
  100% {
    margin-bottom: 0;
    opacity: 100%;
  }
}

@mixin appear {
  opacity: 0%;
  margin-bottom: -70px;
  animation: appear 0.5s ease-in-out forwards;
}
