@import '~styles/grid';

.social {
  $width: 2.5rem;
  width: $width;
  height: $width;
  margin: 0 1rem;
}

.socials {
  padding: 2rem;
}

.address {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.Contact {
  // @include grid;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
