@import '~styles/layout';
@import '~styles/appear';

.Citation {
  .text {
    text-transform: uppercase;
    font-size: 2rem;
    // @include appear;
  }

  .author {
    margin-top: 2rem;
    text-align: right;
    font-size: 1.3rem;
    color: $foreground_hue1;

    // @include appear;
    // animation-delay: 1s;
  }
}
