:global {
  @import url('https://indestructibletype.com/fonts/Jost.css');

  html {
    font: 112.5%/1.45em georgia, serif;
    font-family: 'Jost', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    letter-spacing: 0.15rem;
  }

  body {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  @media only screen and (max-width: 480px) {
    html {
      font-size: 100%;
    }
  }
}

.Layout {
}
