@import '~styles/layout';

.Projects {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.project {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  min-height: 300px;

  @include animate;

  &:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  flex: 0 0 50%;

  box-sizing: border-box;
  padding: 1rem;

  @include breakpoint(xs) {
    flex: 0 0 100%;
  }
}
